server:
  port: 8081

spring:
  application:
    name: room-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/roomdb

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/