---
name: Pipeline
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dbelyaev/action-checkstyle@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: "18"
          distribution: "temurin"
          cache: maven
      - name: Build Config Server
        run: mvn -B package --file config-server/pom.xml

      - name: Build Discovery Service
        run: mvn -B package --file discovery-service/pom.xml

      - name: Build API Gateway
        run: mvn -B package --file api-gateway/pom.xml

      - name: Build Hotel Service
        run: mvn -B package --file hotel-service/pom.xml -DskipTests=true

  jib:
    runs-on: ubuntu-latest
    needs: build
    env:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: "18"
          distribution: "temurin"
          cache: maven
      - name: Push to Docker Hub
        run: mvn -B compile --file pom.xml jib:build -Djib.to.auth.username=$REGISTRY_USERNAME -Djib.to.auth.password=$REGISTRY_PASSWORD

  docker-compose:
    runs-on: ubuntu-latest
    needs: jib
    steps:
      - uses: actions/checkout@v3
      - name: Run docker-compose
        run: docker compose -f "docker-compose.yml" up -d

  syft:
    runs-on: ubuntu-latest
    needs: docker-compose
    steps:
      - name: Config Server
        uses: anchore/sbom-action@v0
        with:
          image: hochschulejz/config-server:latest
          artifact-name: config-server.spdx

      - name: Discovery Service
        uses: anchore/sbom-action@v0
        with:
          image: hochschulejz/discovery-service:latest
          artifact-name: discovery-service.spdx

      - name: Api-Gateway
        uses: anchore/sbom-action@v0
        with:
          image: hochschulejz/api-gateway:latest
          artifact-name: api-gateway.spdx

      - name: Hotel Service
        uses: anchore/sbom-action@v0
        with:
          image: hochschulejz/hotel-service:latest
          artifact-name: hotel-service.spdx

  grype:
    runs-on: ubuntu-latest
    needs: syft
    steps:
      - name: Scan current project
        uses: anchore/scan-action@v3
        with:
          path: "."
